@import "../../assets/stylus/px2rem.styl"

.video-latest
  .title
    margin-left: px2rem(12)
    font-size: px2rem(16)
    color: #212121
    margin-bottom: px2rem(14)
  .video-list
    padding: 0 px2rem(6)
  .load-more
    line-height: px2rem(40)
    font-size: px2rem(14.11)
    text-align: center
    color: #fb7299
    background-color: #e7e7e7
  .loading
    line-height: px2rem(40)
    font-size: px2rem(14.11)
    text-align: center
    color: #212121
    padding-bottom: px2rem(600)
  .tips
    padding-bottom: px2rem(10)
    text-align: center
    img
      display: block
      width: px2rem(150)
      margin: 0 auto
    .text
      font-size: px2rem(12.8)
      color: #999999
