@import "../../assets/stylus/px2rem.styl"

.header
  height: px2rem(28)
  padding: px2rem(8) 0
  background-color: #ffffff
  .logo
    display: inline-block
    width: px2rem(62)
    margin-left: px2rem(18)
  .avatar
    float: right
    width: px2rem(24)
    height: @width
    margin-top: px2rem(2)
    margin-right: px2rem(12)
    svg
      border-radius: 50%
  .search-icon
    float: right
    font-size: px2rem(24)
    margin-right: px2rem(22)
a
  text-decoration: none
    