@import "../../assets/stylus/px2rem.styl"

.top-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
.banner
  padding-top: px2rem(44)
  height: px2rem(130)
  img
    width: 100%
    height: 100%
