@font-face {
  font-family: 'icon'
  src:  url('fonts/icon.eot?cxbu9a')
  src:  url('fonts/icon.eot?cxbu9a#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?cxbu9a') format('truetype'),
    url('fonts/icon.woff?cxbu9a') format('woff')
  font-weight: normal
  font-style: normal
}

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-down:before
  content: "\e900"
  color: #aaa

.icon-arrow-right:before
  content: "\e901"
  color: #aaa

.icon-arrow-up:before
  content: "\e902"
  color: #aaa

.icon-barrage-count:before
  content: "\e903"
  color: #fff

.icon-play-count:before
  content: "\e904"
  color: #fff

.icon-ranking:before
  content: "\e905"
  color: #ffa726

.icon-search:before
  content: "\e906"
  color: #aaa

.icon-sex-man:before
  content: "\e907"
  color: #89cff0

.icon-sex-secrecy:before
  content: "\e908"
  color: #ce21e8

.icon-sex-woman:before
  content: "\e909"
  color: #fb7299
