body
  margin: 0
  -webkit-tap-highlight-color: transparent

.view
  position: relative

[class*="clear"]:after
  content: ""
  display: block
  height: 0
  clear: both

a
  color: inherit
  text-decoration: none
